.claude/claude_docs/gerdau
keep-alive.txt
.secrets
.keep_alive_dummy.txt
basic_commands.md
claude_docs_export.zip
.claude/claude_docs/new_skills.md

# Terraform
terraform/.terraform/
terraform/build/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan

# Python
__pycache__/
*.pyc

placeholder.md